<p>
  <mat-toolbar class="example-spacer">
    <button class="btn" routerLink="/auto_service/orders"><b>ORDERS</b></button>
    <button class="btn" routerLink="/auto_service/customers"><b>CUSTOMERS</b></button>
    <button class="btn" routerLink="/auto_service/cars"><b>CARS</b></button>
    <button class="btn" routerLink="/auto_service/favors"><b>FAVORS</b></button>
    <button class="btn" routerLink="/auto_service/parts"><b>SPARE PARTS</b></button>
    <button class="btn" routerLink="/auto_service/workers"><b>WORKERS</b></button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
