.example-spacer {
  background-color: DodgerBlue;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 16px 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: RoyalBlue;
}
