<label>
  <div class="box">
    <h1 class="title">
      ADD/CREATE WORKER
    </h1>
    <form [formGroup]="workerForm" (ngSubmit)="save()" novalidate>
      <div>
        <label class="text">Worker first name:</label>
        <input type="text" class="input form-control" formControlName="firstName" placeholder="first name" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Worker last name:</label>
        <input type="text" class="input form-control" formControlName="lastName" placeholder="last name" ngModel>
      </div>
      <button class="btn" type="submit">SAVE</button>
    </form>
  </div>
  <div class="box">
    <h1 class="title">
      GET COMPLETED ORDERS
    </h1>
    <form [formGroup]="workerIdForm" (ngSubmit)="getOrder()" novalidate>
      <div class="from-group">
        <label class="text">Worker id:</label>
        <input type="number" class="input form-control" formControlName="id" placeholder="id" ngModel>
      </div>
      <button class="btn" type="submit">GET</button>
    </form>
  </div>
  <div class="box">
    <h1 class="title">
      GET WORKER SALARY
    </h1>
    <form [formGroup]="salaryForm" (ngSubmit)="getSalary()" novalidate>
      <div class="from-group">
        <label class="text">Worker id:</label>
        <input type="number" class="input form-control" formControlName="workerId" placeholder="worker id" ngModel>
      </div>
      <div class="from-group">
        <label class="text">Order id:</label>
        <input type="number" class="input form-control" formControlName="orderId" placeholder="order id" ngModel>
      </div>
      <div>
        <label class="text">SALARY:</label>
        <input type="number" class="show" [value]="salary" readonly>
      </div>
      <button class="btn" type="submit">GET</button>
    </form>
  </div>
  <div class="item" *ngFor="let order of orders">
    id:{{order.id}}<br>
    carId:{{order.carId}}<br>
    problem:{{order.problemDescription}}<br>
    date:{{order.acceptanceDate}}
  </div>
  <div class="item" *ngFor="let worker of workers">
    id:{{worker.id}}<br>
    firstName:{{worker.firstName}}<br>
    lastName:{{worker.lastName}}
  </div>
</label>
